@using MyFirstWebApp.ViewModels.Home;
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Name</h1>
    <h2>Year @Model.Year</h2>
    <p>Users @Model.UsersCount</p>
    <p>Processor @Model.ProcessorCount</p>   
    <p>ID @Model.Id</p>    
</div>
